<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Menu</h1>
<ul>
  <li class="<%= controller.kind_of?(HomeController) ? 'active' : nil %>"><%= link_to 'Home', main_app.root_url%></li>
  <li><%= bizarroids_settings_menu_link %></li>
</ul>

<%= yield %>

</body>
</html>
